body{
    padding: 0;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(158, 196, 202);
}

#box{
    border: solid;
    border-color: black;
}

h1{
    color: brown;
    font-size: 50px;
}

.context{
    color: gray;
    font-size: 20px;
    font-style: italic;
    justify-content:first baseline;
}

.text{
    color:blue;
    font-size: 30px;
}

